{% load static %}
{% load i18n %}

<script type="text/javascript">
    function select_order(order_number) {
        $.ajax({
            url: "{% url 'order_info' %}?order_number=" + order_number,
            dataType: 'json',
            success: function(data) {
                $('#order_number').text(order_number);
                $('#order_company_name').text(data['company_name']);
                $('#order_date').text(data['date']);
                $('#order_tax_base').text(data['tax_base'].toFixed(2).replace(".", ",") + " €");
                $('#order_vat').text(data['vat'].toFixed(2).replace(".", ",") + " €");
                $('#order_amount').text(data['amount'].toFixed(2).replace(".", ",") + " €");
                $('#finished').text(data['finished']);
            },
            error: function(uno, dos, tres) {
                alert("An error has occurred while loading order info")
            }
        });

        // Clear order details area
        //remove_order_details();
    }
</script>

<div class="modal fade" id="info_order" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Order</h4>
            </div>
            <br/>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="well well-sm">
                            <div class="row">
                                <div class="col-sm-6 col-md-4">
                                    <img src="{% static 'ABC/icons/order512.png' %}" alt="" class="img-rounded img-responsive" />
                                </div>
                                <div class="col-sm-6 col-md-8" style="line-height: 17pt">
                                    <h4 id="order_number">name</h4>
                                    <h3 id="order_company_name">company_name</h3>
                                    <p>
                                        <i class="glyphicon glyphicon-calendar"></i> <span id="order_date">date</span>
                                        <br />
                                        <i class="glyphicon glyphicon-ok"></i> <span id="order_finished">finished</span>
                                        <br/>
                                        <i class="glyphicon glyphicon-euro"></i> {% trans '(Tax base)' %}: <span id="order_tax_base">tax_base</span>
                                        <br />
                                        <i class="glyphicon glyphicon-euro"></i> {% trans 'VAT' %}: <span id="order_vat">order_vat</span>
                                        <br />
                                        <i class="glyphicon glyphicon-euro"></i> {% trans 'Total' %}: <span id="order_amount" style="font-weight:bold;font-size:17px">order_amount</span>
                                    </p>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-primary">
                                            {% trans 'View' %}
                                        </button>
                                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                            <span class="caret"></span><span class="sr-only">{% trans 'View' %}</span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#" id="view_details" onclick="javascript:view_details(this)">{% trans 'Details' %}</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="order_details">
                    <!-- Order details appear here -->
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" onclick="javscript:remove_order_details()" data-dismiss="modal">{% trans 'Close' %}</button>
            </div>
        </div>
    </div>
</div>
