{% load static %}
{% load i18n %}

{% include 'ABC/header.html' %}
{% include 'ABC/navbar.html' %}
{% include 'ABC/page_header.html' with title='Events' icon='ABC/icons/anadiragenda32.png' new_link='new_event' tooltip='Add Event' %}


<div class="panel panel-default">
    <div class="panel-heading">
        Items
    </div>
    <div class="panel-body">
    <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-abc">
        <thead>
            <tr>
                <th>#</th>
                <th>{% trans 'Name' %}</th>
                <th>{% trans 'Description' %}</th>
                <th>{% trans 'Date' %}</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% if events %}
        {% for event in events %}
            <tr>
                <td>{{ event.id }}</td>
                <td>{{ event.name }}</td>
                <td>{{ event.description | safe | truncatewords:10}}</td>
                <td>{{ event.date|date:'d F Y' }}</td>
                <td class="text-center"><a class="btn btn-sm btn-warning" href="#">{% trans 'Modify' %}</a></td>
                <td class="text-center"><a class="btn btn-sm btn-danger" onclick="return confirm('{% trans 'Are you sure?' %}');"
                       href="{% url 'delete_event' event.id %}">{% trans 'Delete' %}</a></td>
            </tr>
        {% endfor %}
    {% endif %}
        </tbody>
    </table>
    </div>
</div>


{% include 'ABC/footer.html' %}