{% load static %}

    </div>
</div>
    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'ABC/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    <!-- Metis Menu Plugin JavaScript -->
    <script src="{% static 'ABC/vendor/metisMenu/metisMenu.min.js' %}"></script>
    <!-- DataTables JavaScript -->
    <script src="{% static 'ABC/vendor/datatables/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'ABC/vendor/datatables-plugins/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'ABC/vendor/datatables-responsive/dataTables.responsive.js' %}"></script>
    <!-- Morris Charts JavaScript -->
    <script src="{% static 'ABC/vendor/raphael/raphael.min.js' %}"></script>
    <script src="{% static 'ABC/vendor/morrisjs/morris.min.js' %}"></script>
    <script src="{% static 'ABC/js/morris-data.js' %}"></script>
    <!-- Custom Theme JavaScript -->
    <script src="{% static 'ABC/js/sb-admin-2.js' %}"></script>

    <script>
    $(document).ready(function() {
        $('#dataTables-abc').DataTable({
            responsive: true
        });
        $('#dataTables-abc2').DataTable({
            responsive: true
        });
        $('#dataTables-abc3').DataTable({
            responsive: true
        });
    });
    </script>
    <script>
    // tooltip demo
    $('.tooltip-demo').tooltip({
        selector: "[data-toggle=tooltip]",
        container: "body"
    })
    // popover demo
    $("[data-toggle=popover]")
        .popover()
    </script>
</body>
</html>