{% load static %}
{% load i18n %}
{% include 'ABC/short_header.html' with login_form=True %}

<!-- Jumbotron para portada principal -->
<div class="jumbotron">
  <div class="container">
    <h1><img height="150px" src="{% static 'ABC/img/logo_abc_trans.png' %}"/> ABC ERP</h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <h2>{% trans 'Items' %}</h2>
        <img style="width:64px" src="{% static 'ABC/img/articulos.png' %}"/>
        <a href="{% url 'new_item' %}" title="{% trans 'Add item' %}"><img src="{% static 'ABC/icons/anadircesta32.png' %}"/></a>
      <p>{% trans 'Register, modify or remove items' %}</p>
      <p><a class="btn btn-primary" href="{% url 'items' %}" role="button">{% trans 'Go' %} &raquo;</a></p>

    </div>
    <div class="col-lg-4">
      <h2>{% trans 'Orders' %}</h2>
        <img src="{% static 'ABC/img/pedidos.png' %}"/>
        <a href="#" title="Añadir pedido"><img src="{% static 'ABC/icons/anadirpedido32.png' %}"/></a>
      <p>{% trans 'Register, modify or remove orders' %}</p>
      <p><a class="btn btn-primary" href="{% url 'orders' %}" role="button">{% trans 'Go' %} &raquo;</a></p>
    </div>
    <div class="col-lg-4">
      <h2>{% trans 'Invoices' %}</h2>
        <img src="{% static 'ABC/img/facturas.png' %}"/>
        <a href="#" title="Añadir factura"><img src="{% static 'ABC/icons/anadirfactura32.png' %}"/></a>
      <p>{% trans 'Register, modify or remove invoices' %}</p>
      <p><a class="btn btn-primary" href="{% url 'invoices' %}" role="button">{% trans 'Go' %} &raquo;</a></p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <h2>{% trans 'Customers' %}</h2>
        <img src="{% static 'ABC/img/usuario.png' %}"/>
        <a href="#" title="Añadir usuario"><img src="{% static 'ABC/icons/anadirusuario32.png' %}"/></a>
      <p>{% trans 'Register, modify or remove customers' %}</p>
      <p><a class="btn btn-primary" href="{% url 'customers' %}" role="button">{% trans 'Go' %} &raquo;</a></p>
    </div>
    <div class="col-lg-4">
      <h2>{% trans 'Providers' %}</h2>
        <img src="{% static 'ABC/img/proveedor.png' %}"/>
        <a href="#" title="Añadir proveedor"><img src="{% static 'ABC/icons/anadirproveedor32.png' %}"/></a>
      <p>{% trans 'Register, modify or remove providers' %}</p>
      <p><a class="btn btn-primary" href="{% url 'providers' %}" role="button">{% trans 'Go' %} &raquo;</a></p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <h2>{% trans 'Tasks' %}</h2>
        <img src="{% static 'ABC/img/tareas.png' %}"/>
        <a href="#" title="Añadir tarea"><img src="{% static 'ABC/icons/anadirtarea32.png' %}"/></a>
      <p>{% trans 'Manage your time. Record, management, cancelation and reporting of your tasks' %}<!--Gestiona tu tiempo. Alta, seguimiento, cancelación e informes de tus Tareas--></p>
      <p><a class="btn btn-primary" href="{% url 'tasks' %}" role="button">{% trans 'Go' %} &raquo;</a></p>
    </div>
    <div class="col-lg-4">
      <h2>{% trans 'Calendar' %}</h2>
        <img src="{% static 'ABC/img/calendario.png' %}"/>
        <a href="#" title="Añadir usuario"><img src="{% static 'ABC/icons/anadiragenda32.png' %}"/></a>
      <p>{% trans 'Look for your dates for today or wherever. Register, modify or cancel dates' %}<!--Consulta las citas para hoy o cualquier día del año. Alta, modificación y cancelación de citas--></p>
      <p><a class="btn btn-primary" href="{% url 'events' %}" role="button">{% trans 'Go' %} &raquo;</a></p>
    </div>
    <div class="col-lg-4">
      <h2>{% trans 'Master tables' %}</h2>
        <img src="{% static 'ABC/img/tablasmaestras.png' %}"/>
        <img src="{% static 'ABC/icons/anadirformaenvio32.png' %}"/>
        <img src="{% static 'ABC/icons/anadirformapago32.png' %}"/>
        <img src="{% static 'ABC/icons/anadirtipoiva32.png' %}"/>
      <p>{% trans 'Manage the master tables of the app. Delivery, Payment and VAT types' %}<!--Gestiona las tablas maestras de la aplicación. Formas de Envío, Formas de Pago y Tipos de IVA--></p>
      <p><a class="btn btn-primary" href="#" role="button">{% trans 'Go' %} &raquo;</a></p>
    </div>
  </div>
</div>

{% include 'ABC/footer.html' %}