{% load static %}
{% include 'ABC/short_header.html' with login_form=True %}

<!-- Jumbotron para portada principal -->
<div class="jumbotron">
  <div class="container">
    <h1><img height="150px" src="{% static 'ABC/img/logo_abc_trans.png' %}"/> ABC ERP</h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <h2>Artículos</h2>
        <img style="width:64px" src="{% static 'ABC/img/articulos.png' %}"/>
        <a href="#" title="Añadir artículo"><img src="{% static 'ABC/icons/anadircesta32.png' %}"/></a>
      <p>Registra, modifica o elimina artículos</p>
      <p><a class="btn btn-primary" href="{% url 'items' %}" role="button">Acceder &raquo;</a></p>

    </div>
    <div class="col-lg-4">
      <h2>Pedidos</h2>
        <img src="{% static 'ABC/img/pedidos.png' %}"/>
        <a href="#" title="Añadir pedido"><img src="{% static 'ABC/icons/anadirpedido32.png' %}"/></a>
      <p>Registra, modifica o elimina Pedidos</p>
      <p><a class="btn btn-primary" href="#" role="button">Acceder &raquo;</a></p>
    </div>
    <div class="col-lg-4">
      <h2>Facturas</h2>
        <img src="{% static 'ABC/img/facturas.png' %}"/>
        <a href="#" title="Añadir factura"><img src="{% static 'ABC/icons/anadirfactura32.png' %}"/></a>
      <p>Registra, modifica o elimina Factuars</p>
      <p><a class="btn btn-primary" href="#" role="button">Acceder &raquo;</a></p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <h2>Clientes</h2>
        <img src="{% static 'ABC/img/usuario.png' %}"/>
        <a href="#" title="Añadir usuario"><img src="{% static 'ABC/icons/anadirusuario32.png' %}"/></a>
      <p>Registra, modifica o elimina Clientes</p>
      <p><a class="btn btn-primary" href="#" role="button">Acceder &raquo;</a></p>
    </div>
    <div class="col-lg-4">
      <h2>Proveedores</h2>
        <img src="{% static 'ABC/img/proveedor.png' %}"/>
        <a href="#" title="Añadir proveedor"><img src="{% static 'ABC/icons/anadirproveedor32.png' %}"/></a>
      <p>Registra, modifica o elimina Proveedores</p>
      <p><a class="btn btn-primary" href="#" role="button">Acceder &raquo;</a></p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <h2>Tareas</h2>
        <img src="{% static 'ABC/img/tareas.png' %}"/>
        <a href="#" title="Añadir tarea"><img src="{% static 'ABC/icons/anadirtarea32.png' %}"/></a>
      <p>Gestiona tu tiempo. Alta, seguimiento, cancelación e informes de tus Tareas</p>
      <p><a class="btn btn-primary" href="{% url 'tasks' %}" role="button">Acceder &raquo;</a></p>
    </div>
    <div class="col-lg-4">
      <h2>Calendario</h2>
        <img src="{% static 'ABC/img/calendario.png' %}"/>
        <a href="#" title="Añadir usuario"><img src="{% static 'ABC/icons/anadiragenda32.png' %}"/></a>
      <p>Consulta las citas para hoy o cualquier día del año. Alta, modificación y cancelación de citas</p>
      <p><a class="btn btn-primary" href="#" role="button">Acceder &raquo;</a></p>
    </div>
    <div class="col-lg-4">
      <h2>Tablas maestras</h2>
        <img src="{% static 'ABC/img/tablasmaestras.png' %}"/>
        <img src="{% static 'ABC/icons/anadirformaenvio32.png' %}"/>
        <img src="{% static 'ABC/icons/anadirformapago32.png' %}"/>
        <img src="{% static 'ABC/icons/anadirtipoiva32.png' %}"/>
      <p>Gestiona las tablas maestras de la aplicación. Formas de Envío, Formas de Pago y Tipos de IVA</p>
      <p><a class="btn btn-primary" href="#" role="button">Acceder &raquo;</a></p>
    </div>
  </div>
</div>

{% include 'ABC/footer.html' %}