{% load static %}
<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
        integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
        integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

  <link href="{% static 'ABC/css/sticky-footer.css' %}" rel="stylesheet">
  <link href="{% static 'ABC/css/my.css" rel="stylesheet' %}">
  <link rel="shortcut icon" type="image/png" href="{% static 'ABC/img/logo.ico' %}"/>
  <title>ABC | arkabytes</title>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
        <img style="float:left" src="{% static 'ABC/img/logo_abc_trans_mini.png' %}"/>
      <a class="navbar-brand" href="{% url 'index' %}">ABC</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">

      <form class="navbar-form navbar-right" method="post" action="#">
        <div class="form-group">
          <input type="text" placeholder="Email" name="email" class="form-control">
        </div>
        <div class="form-group">
          <input type="password" placeholder="Password" name="password" class="form-control">
        </div>
        <input type="hidden" name="action" value="login"/>
        <button type="submit" class="btn btn-success">Acceder</button>
      </form>

    </div>
  </div>
</nav>

<div class="jumbotron">
  <div class="container">

    <h1><img height="150px" src="{% static 'ABC/img/logo_abc_trans.png' %}"/> ABC ERP</h1>
    <!--<p>Estás en el panel principal desde donde tienes acceso a todo</p>-->
  </div>
</div>

<script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.jeditable.mini.js"></script>
<script type="text/javascript" src="{% static 'ABC/js/bootbox.min.js' %}"></script>


<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <h2>Artículos</h2>
        <img style="width:64px" src="{% static 'ABC/img/articulos.png' %}"/>
        <a href="#" title="Añadir artículo"><img src="{% static 'ABC/icons/anadircesta32.png' %}"/></a>
      <p>Registra, modifica o elimina artículos</p>
      <p><a class="btn btn-primary" href="{% url 'items' %}" role="button">Acceder &raquo;</a></p>

    </div>
    <div class="col-lg-4">
      <h2>Pedidos</h2>
        <img src="{% static 'ABC/img/pedidos.png' %}"/>
        <a href="#" title="Añadir pedido"><img src="{% static 'ABC/icons/anadirpedido32.png' %}"/></a>
      <p>Registra, modifica o elimina Pedidos</p>
      <p><a class="btn btn-primary" href="#" role="button">Acceder &raquo;</a></p>
    </div>
    <div class="col-lg-4">
      <h2>Facturas</h2>
        <img src="{% static 'ABC/img/facturas.png' %}"/>
        <a href="#" title="Añadir factura"><img src="{% static 'ABC/icons/anadirfactura32.png' %}"/></a>
      <p>Registra, modifica o elimina Factuars</p>
      <p><a class="btn btn-primary" href="#" role="button">Acceder &raquo;</a></p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <h2>Clientes</h2>
        <img src="{% static 'ABC/img/usuario.png' %}"/>
        <a href="#" title="Añadir usuario"><img src="{% static 'ABC/icons/anadirusuario32.png' %}"/></a>
      <p>Registra, modifica o elimina Clientes</p>
      <p><a class="btn btn-primary" href="#" role="button">Acceder &raquo;</a></p>
    </div>
    <div class="col-lg-4">
      <h2>Proveedores</h2>
        <img src="{% static 'ABC/img/proveedor.png' %}"/>
        <a href="#" title="Añadir proveedor"><img src="{% static 'ABC/icons/anadirproveedor32.png' %}"/></a>
      <p>Registra, modifica o elimina Proveedores</p>
      <p><a class="btn btn-primary" href="#" role="button">Acceder &raquo;</a></p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <h2>Tareas</h2>
        <img src="{% static 'ABC/img/tareas.png' %}"/>
        <a href="#" title="Añadir tarea"><img src="{% static 'ABC/icons/anadirtarea32.png' %}"/></a>
      <p>Gestiona tu tiempo. Alta, seguimiento, cancelación e informes de tus Tareas</p>
      <p><a class="btn btn-primary" href="#" role="button">Acceder &raquo;</a></p>
    </div>
    <div class="col-lg-4">
      <h2>Calendario</h2>
        <img src="{% static 'ABC/img/calendario.png' %}"/>
        <a href="#" title="Añadir usuario"><img src="{% static 'ABC/icons/anadiragenda32.png' %}"/></a>
      <p>Consulta las citas para hoy o cualquier día del año. Alta, modificación y cancelación de citas</p>
      <p><a class="btn btn-primary" href="#" role="button">Acceder &raquo;</a></p>
    </div>
    <div class="col-lg-4">
      <h2>Tablas maestras</h2>
        <img src="{% static 'ABC/img/tablasmaestras.png' %}"/>
        <img src="{% static 'ABC/icons/anadirformaenvio32.png' %}"/>
        <img src="{% static 'ABC/icons/anadirformapago32.png' %}"/>
        <img src="{% static 'ABC/icons/anadirtipoiva32.png' %}"/>
      <p>Gestiona las tablas maestras de la aplicación. Formas de Envío, Formas de Pago y Tipos de IVA</p>
      <p><a class="btn btn-primary" href="#" role="button">Acceder &raquo;</a></p>
    </div>
  </div>
</div>


<footer class="footer">
  <div class="containerf">
    <p class="text-muted">(c) 2017 arkabytes | ABC v0.1b</p>
  </div>
</footer>
</body>
</html>