{% include 'ABC/header.html' with title='Artículos' %}
{% load static %}
{% load humanize %}

<div class="container">
    <div class="navbar">
        <ol class="breadcrumb">
            <li><a href="{% url 'index' %}">ABC</a></li>
            <li class="active">Artículos</li>
        </ol>
    </div>
</div>

<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th> </th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Precio</th>
                <th> </th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
        {% if items %}
            {% for item in items %}
                <tr id="{{ item.name }}">
                    <td>{{ item.id }}</td>
                    <td><img src="{% static 'ABC/icons/pantalla32.png' %}" width='25' height='25'/></td>
                    <td><a href="{% url 'item' item.id %}">{{ item.name }}</a></td>
                    <td>{{ item.description }}</td>
                    <td>{{ item.retail_price | floatformat:2 | intcomma }} €</td>
                    <td><a class="btn btn-sm btn-warning eliminar" href="#">Modificar</a></td>
                    <td><a class="btn btn-sm btn-danger eliminar" href="{% url 'remove_item' item.id %}">Eliminar</a></td>
                </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>

    <nav class="nav navbar" aria-label="Paginacion">
        <ul class="pager">
        <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">Anterior</span></a></li>
        <li class=""><a href="#" aria-label="Next"><span aria-hidden="true">Siguiente</span></a></li>
        </ul>
    </nav>

    <div class="container" style="margin-left:0px;width:25%">
        <form class="form-anadir" action="{% url 'add_item' %}" method="get">
            <label for="inputName" class="sr-only">Nombre</label>
            <input type="text" name="name" id="inputName" class="form-control" placeholder="Nombre" required autofocus>
            <label for="inputNumber" class="sr-only">Descripción</label>
            <input type="text" name="description" id="inputName"  class="form-control" placeholder="Descripción">
            <label for="inputNumber" class="sr-only">Precio</label>
            <input type="text" name="price" id="inputNumber" class="form-control" placeholder="Precio" required>
            <!--<input type="file" id="inputFile" class="form-control" placeholder="Imagen">-->
            <!--<input type="hidden" name="action" value="insert"/>-->
            <button class="btn btn-primary btn-block" type="submit">Añadir</button>
        </form>
    </div>
</div>

{% include 'ABC/footer.html' %}