{% load static %}
{% load humanize %}
{% load i18n %}

{% include 'ABC/header.html' %}
{% include 'ABC/navbar.html' %}
{% include 'ABC/page_header.html' with title='Items' icon='ABC/icons/anadircesta32.png' new_link='new_item' tooltip='Add Item' %}

<script type="text/javascript">
    function select_item(item_id) {
        $.ajax({
            url: "{% url 'item_info' %}?item_id=" + item_id,
            dataType: 'json',
            success: function(data) {
                $('#label').text(data['name']);
                $('#name').text(data['name']);
                //$('#description').text(data['description']);
                $('#description').html(data['description']);
                $('#provider').text(data['provider_name']);
                $('#cost_price').text(" " + data['cost_price'].toFixed(2).replace(".", ",") + " €");
                $('#retail_price').text("" + data['retail_price'].toFixed(2).replace(".", ",") + " €");
                $('img.img-rounded').attr("src", "{% static 'ABC' %}" + data['thumbnail']);
            },
            error: function(uno, dos, tres) {
                alert("An error has occured while loading item info");
            }
        });
    }
</script>

<div class="panel panel-default">
    <div class="panel-heading">
        Items
    </div>
    <div class="panel-body">
    <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-abc">
        <thead>
            <tr>
                <th>#</th>
                <th></th>
                <th>{% trans 'Name' %}</th>
                <th>{% trans 'Description' %}</th>
                <th>{% trans 'Retail Price' %}</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% if items %}
        {% for item in items %}
            <tr>
                <td class="text-center">{{ item.id }}</td>
                <td class="text-center"><img height="40" width="40" src="{% static 'ABC/' %}{{ item.thumbnail.url }}"/></td>
                <td><a data-toggle="modal" data-target="#info_item" data-id="{{ item.id }}" id="item_info"
                       onclick="javascript:select_item({{ item.id }})" href="#">{{ item.name }}</a></td>
                <td>{{ item.description | safe | truncatewords:10}}</td>
                <td class="text-right">{{ item.retail_price | floatformat:2 | intcomma}} €</td>
                <td class="text-center"><a class="btn btn-sm btn-warning" href="{% url 'new_item' item.id %}">{% trans 'Modify' %}</a></td>
                <td class="text-center"><a class="btn btn-sm btn-danger" onclick="return confirm('{% trans 'Are you sure?' %}');"
                       href="{% url 'delete_item' item.id %}">{% trans 'Delete' %}</a></td>
            </tr>
        {% endfor %}
    {% endif %}
        </tbody>
    </table>
    </div>
</div>
<div class="container" style="margin-left:0px;width:25%">
    <form class="form-anadir" action="{% url 'add_item' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset>
            <legend></legend>
            <label for="inputName" class="sr-only">{% trans 'Name' %}</label>
            <input type="text" name="name" id="inputName" class="form-control" placeholder="{% trans 'Name' %}" required autofocus/>
            <label for="inputNumber" class="sr-only">{% trans 'Description' %}</label>
            <input type="text" name="description" id="inputName"  class="form-control" placeholder="{% trans 'Description' %}">
            <label for="inputNumber" class="sr-only">{% trans 'Retail price' %}</label>
            <input type="text" name="retail_price" id="inputNumber" class="form-control" placeholder="{% trans 'Retail price' %}" required>
            <input type="file" name="thumbnail" id="thumbnail" class="form-control" placeholder="{% trans 'Thumbnail' %}">
            <input type="hidden" name="mode" value="quick"/>
            <button class="btn btn-primary btn-block" type="submit">{% trans 'Quick add' %}</button>
        </fieldset>
    </form>
    {% if messages %}
        {% for message in messages %}
            <br/>
            {% if message.tags == 'success' %}
                <div class="alert alert-success" role="alert">
            {% elif message.tags == 'error' %}
                <div class="alert alert-danger" role="alert">
            {% endif %}
                    {{ message }}
                </div>
        {% endfor %}
    {% endif %}
</div>
<div class="modal fade" id="info_item" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="label">Item</h4>
            </div>
            <br/>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="well well-sm">
                            <div class="row">
                                <div class="col-sm-6 col-md-4">
                                    <img id="thumbnail" src="http://placehold.it/380x500" alt="" class="img-rounded img-responsive" />
                                </div>
                                <div class="col-sm-6 col-md-8" style="line-height: 17pt">
                                    <h4 id="name">The name</h4>
                                        <i class="glyphicon glyphicon-list-alt"></i> <span id="description" title="Location">Location </span>
                                    <p>
                                        <i class="glyphicon glyphicon-lock"></i> <span id="provider">Provider</span>
                                        <br />
                                        <i class="glyphicon glyphicon-euro"></i> {% trans 'Cost price' %}: <span id="cost_price"> Cost price</span>
                                        <br />
                                        <i class="glyphicon glyphicon-euro"></i> {% trans 'Retail price' %}: <span id="retail_price">Retail price</span>
                                    </p>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-primary">
                                            {% trans 'View' %}
                                        </button>
                                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                            <span class="caret"></span><span class="sr-only">{% trans 'View' %}</span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="{% url 'orders' %}">{% trans 'Orders' %}</a></li>
                                            <li><a href="{% url 'invoices' %}">{% trans 'Invoices' %}</a></li>
                                            <li class="divider"></li>
                                            <li><a href="{% url 'tasks' %}">{% trans 'Tasks' %}</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Close' %}</button>
            </div>
        </div>
    </div>
</div>

{% include 'ABC/footer.html' %}