{% load static %}
{% load humanize %}
{% load i18n %}

{% include 'ABC/header.html' %}
{% include 'ABC/navbar.html' %}
{% include 'ABC/page_header.html' with title='New Payment Type' %}

<div class="panel panel-default">
    <div class="panel-heading">

    </div>
    <div class="panel-body">
<form class="empty-form" action="{% url 'add_payment_type' %}" method="post">{% csrf_token %}
    <fieldset>
        <legend>{% trans 'Payment Type Information' %}</legend>
        <label for="name">{% trans 'Name' %}</label>
        <div class="input-group">
            <input type="text" name="name" id="name" class="form-control" placeholder="Name" size="50" aria-describedby="basic-addon1">
        </div>
        <br/>
        <div class="row">
            <div class="col-lg-6">
                <label for="description">{% trans 'Description' %}</label>
                <div class="input-group">
                    <textarea id="description" name="description" class="form-control" placeholder="{% trans 'Description' %}" rows="5" cols="50" aria-describedby="basic-addon1"></textarea>
                </div>
            </div>
        </div>
        <br/>
        <label for="name">{% trans 'Price' %}</label>
        <div class="input-group">
            <span class="input-group-addon">€</span>
            <input type="number" name="price" id="price" style="width:120px" class="form-control" placeholder="{% trans 'Price' %}" size="80" aria-describedby="basic-addon1">
        </div>
        <br/>
        <button class="btn btn-primary btn-block" type="submit">{% trans 'Add' %}</button>
        <input type="hidden" name="mode" value="complete"/>
    </fieldset>
    </form>
    </div>
</div>

<script>
    var config = {};
    config.placeholder = 'Description';
    config.width = 500;
    config.height = 150;
    CKEDITOR.replace('description', config);
</script>


{% include 'ABC/footer.html' %}