{% load static %}
{% load humanize %}
{% load i18n %}
{% load widget_tweaks %}

{% include 'ABC/header.html' %}
{% include 'ABC/navbar.html' %}
{% if task_id %}
    {% include 'ABC/page_header.html' with title='Modify Task' %}
{% else %}
    {% include 'ABC/page_header.html' with title='New Task' %}
{% endif %}
{% include 'ABC/arkabytes/forms.js.html' %}

<div class="panel panel-default">
    <div class="panel-heading">
        <script type="text/javascript">
            // Ask user when he leaves this page
            $(window).bind('beforeunload', function(){
                return confirm("Are you sure?");
            });
        </script>
    </div>
    <div class="panel-body">
    {% if task_id %}
    <form class="empty-form" action="{% url 'modify_task' %}" method="post" onsubmit="$(window).unbind('beforeunload');">{% csrf_token %}
    {% else %}
    <form class="empty-form" action="{% url 'add_task' %}" method="post" onsubmit="$(window).unbind('beforeunload');">{% csrf_token %}
    {% endif %}
    <fieldset>
        <legend>{% trans 'Task Information' %}</legend>
        <div class="row">
            <div class="col-lg-6">
                <label for="name">{% trans 'Name' %}</label>
                <div class="input-group">
                    {% render_field form.name class='form-control' placeholder=form.name.label size='50' %}
                    {{ form.name.errors }}
                </div>
            </div>
            <div class="col-lg-6">
                <label for="state">{% trans 'State' %}</label>
                <div class="input-group">
                    <select class="form-control" name="state" id="state">
                        <option>{% trans 'To do' %}</option>
                        <option>{% trans 'Doing' %}</option>
                        <option>{% trans 'Done' %}</option>
                        <option>{% trans 'Discarded' %}</option>
                    </select>
                    {{ form.state.errors }}
                </div>
            </div>
        </div>

        <br/>
        <div class="row">
            <div class="col-lg-6">
                <label for="description">{% trans 'Description' %}</label>
                <div class="input-group">
                    <textarea id="description" name="description" class="form-control" placeholder="{% trans 'Description' %}" rows="5" cols="50" aria-describedby="basic-addon1">
                        {{ form.description.value }}
                    </textarea>
                    {{ form.description.errors }}
                </div>
            </div>
            <div class="col-lg-6">
                <label for="description">{% trans 'Notice' %}</label>
                <div class="input-group">
                    <textarea id="notice" name="notice" class="form-control" placeholder="{% trans 'Notice' %}" rows="5" cols="50" aria-describedby="basic-addon1">
                        {{ form.notice.value }}
                    </textarea>
                    {{ form.notice.errors }}
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-lg-3">
                <label for="date">{% trans 'Date' %}</label>
                <div class="input-group">
                    <span class="input-group-addon">#</span>
                    <input type="date" name="{{ form.date.label.lower }}" style="width:160px" class="form-control" placeholder="{% trans 'Date' %}" aria-describedby="basic-addon2" value="{{ form.date.value }}">
                </div>
                {{ form.date.errors }}
            </div>
            <div class="col-lg-3">
                <label for="start_date">{% trans 'Start Date' %}</label>
                <div class="input-group">
                    <span class="input-group-addon">[ ]</span>
                    <input type="date" name="{{ form.start_date.label.lower }}" style="width:160px" class="form-control" placeholder="{% trans 'Start Date' %}" aria-describedby="basic-addon2" value="{{ form.start_date.value }}">
                </div>
                {{ form.start_date.errors }}
            </div>
            <div class="col-lg-3">
                <label for="finish_date">{% trans 'Finish Date' %}</label>
                <div class="input-group">
                    <span class="input-group-addon">[ ]</span>
                    <input type="date" name="{{ form.finish_date.label.lower }}" style="width:160px" class="form-control" placeholder="{% trans 'Finish Date' %}" aria-describedby="basic-addon2" value="{{ form.finish_date.value }}">
                </div>
                {{ form.finish_date.errors }}
            </div>
            <div class="col-lg-3">
                <label for="notice_date">{% trans 'Notice Date' %}</label>
                <div class="input-group">
                    <span class="input-group-addon">[ ]</span>
                    <input type="date" name="{{ form.notice_date.label.lower }}" style="width:160px" class="form-control" placeholder="{% trans 'Notice Date' %}" aria-describedby="basic-addon2" value="{{ form.notice_date.value }}">
                </div>
                {{ form.notice_date.errors }}
            </div>
        </div>
        <br/>
        <div class="row">

        </div>
        <br/>
        <div class="row">
            <div class="col-lg-3">
                <label for="customer">{% trans 'Customer' %}</label>
                <div class="input-group">
                    {% render_field form.customer class='form-control' placeholder=form.customer.label %}
                    {{ form.customer.errors }}
                </div>
            </div>
            <div class="col-lg-3">
                <label for="provider">{% trans 'Provider' %}</label>
                <div class="input-group">
                    {% render_field form.provider class='form-control' placeholder=form.provider.label %}
                    {{ form.provider.errors }}
                </div>
            </div>
            <div class="col-lg-3">
                <label for="order">{% trans 'Order' %}</label>
                <div class="input-group">
                    {% render_field form.order class='form-control' placeholder=form.order.label %}
                    {{ form.order.errors }}
                </div>
            </div>
            <div class="col-lg-3">
                <label for="location">{% trans 'Location' %}</label>
                <div class="input-group">
                    {% render_field form.location class='form-control' placeholder=form.location.label %}
                    {{ form.location.errors }}
                </div>
            </div>
        </div>
        <br/>
        <button class="btn btn-primary btn-block" type="submit">{% if task_id %}{% trans 'Modify' %}{% else %}{% trans 'Add' %}{% endif %}</button>
        <input type="hidden" name="mode" value="complete"/>
        {% if task_id %}
        <input type="hidden" name="task_id" value="{{ task_id }}"/>
        {% endif %}
    </fieldset>
    </form>
    {% if messages %}
        {% for message in messages %}
            <br/>
            {% if message.tags == 'success' %}
                <div class="alert alert-success" role="alert">
            {% elif message.tags == 'error' %}
                <div class="alert alert-danger" role="alert">
            {% endif %}
                    {{ message }}
                </div>
        {% endfor %}
    {% endif %}
    </div>
</div>

<script>
    var config = {};
    config.placeholder = 'Description';
    config.width = 500;
    config.height = 150;
    CKEDITOR.replace('description', config);
    var config = {};
    config.placeholder = 'Notice';
    config.width = 500;
    config.height = 150;
    CKEDITOR.replace('notice', config);
</script>


{% include 'ABC/footer.html' %}