{% load static %}
{% load humanize %}
{% load i18n %}
{% load widget_tweaks %}

{% include 'ABC/header.html' %}
{% include 'ABC/navbar.html' %}
{% if item_id %}
    {% include 'ABC/page_header.html' with title='Modify Item' %}
{% else %}
    {% include 'ABC/page_header.html' with title='New Item' %}
{% endif %}

<div class="panel panel-default">
    <div class="panel-heading">
        <script type="text/javascript">
            // Ask user when he leaves this page
            $(window).bind('beforeunload', function(){
                return confirm("Are you sure?");
            });
        </script>
    </div>
    <div class="panel-body">
    {% if item_id %}
    <form class="empty-form" action="{% url 'modify_item' %}" method="post" enctype="multipart/form-data" onsubmit="$(window).unbind('beforeunload');">{% csrf_token %}
    {% else %}
    <form class="empty-form" action="{% url 'add_item' %}" method="post" enctype="multipart/form-data" onsubmit="$(window).unbind('beforeunload');">{% csrf_token %}
    {% endif %}
    <fieldset>
        <legend>{% trans 'Item Information' %}</legend>
        <label for="name">{% trans 'Name' %}</label>
        <div class="input-group">
            {% render_field form.name class='form-control' size='80' placeholder=form.name.label %}
            {{ form.name.errors }}
        </div>
        <br/>
        <div class="row">
            <div class="col-lg-6">
                <label for="description">{% trans 'Description' %}</label>
                <div class="input-group">
                    <textarea id="description" name="description" class="form-control" placeholder="{% trans 'Description' %}" rows="5" cols="50" aria-describedby="basic-addon1">
                        {{ form.description.value }}
                    </textarea>
                    {{ form.description.errors }}
                </div>
            </div>
            <div class="col-lg-6">
                <label for="notes">{% trans 'Notes' %}</label>
                <div class="input-group">
                    <textarea id="notes" name="notes" class="form-control" placeholder="{% trans 'Notes' %}" rows="5" cols="50" aria-describedby="basic-addon1">
                        {{ form.notes.value }}
                    </textarea>
                    {{ form.notes.errors}}
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-lg-3">
            <label for="stock">{% trans 'Stock' %}</label>
                <div class="input-group">
                    <span class="input-group-addon">#</span>
                    {% render_field form.stock class='form-control' style='width:150px' placeholder=form.stock.label %}
                    {{ form.stock.errors }}
                </div>
            </div>
            <div class="col-lg-3">
            <label for="cost_price">{% trans 'Cost price' %}</label>
                <div class="input-group">
                    <span class="input-group-addon">€</span>
                    {% render_field form.cost_price style='width:150px' class='form-control' placeholder=form.cost_price.label %}
                </div>
                {{ form.cost_price.errors }}
            </div>
            <div class="col-lg-3">
            <label for="retail_price">{% trans 'Retail price' %}</label>
                <div class="input-group">
                    <span class="input-group-addon">€</span>
                    {% render_field form.retail_price style='width:150px' class='form-control' placeholder=form.retail_price.label %}
                </div>
                {{ form.retail_price.errors }}
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-lg-3">
                <label for="thumbnail">{% trans 'Thumbnail' %}</label>
                <div class="input-group">
                    {% render_field form.thumbnail type='file' class='form-control' %}
                    {{ form.thumbnail.errors }}
                </div>
            </div>
            <div class="col-lg-3">
                <label for="image1">{% trans 'Picture #1' %}</label>
                <div class="input-group">
                    {% render_field form.image1 type='file' class='form-control' %}
                    {{ form.image1.errors }}
                </div>
            </div>
            <div class="col-lg-3">
                <label for="image2">{% trans 'Picture #2' %}</label>
                <div class="input-group">
                    {% render_field form.image2 type='file' class='form-control' %}
                    {{ form.image2.errors }}
                </div>
            </div>
            <div class="col-lg-3">
                <label for="image3">{% trans 'Picture #3' %}</label>
                <div class="input-group">
                    {% render_field form.image3 type='file' class='form-control' %}
                    {{ form.image3.errors }}
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-lg-2">
                <label for="provider">{% trans 'Provider' %}</label>
                <div class="input-group">
                    {% render_field form.provider class='form-control' placeholder=form.provider.label %}
                    {{ form.provider.errors }}
                </div>
            </div>
            <div class="col-lg-2">
                <label for="vat_type">{% trans 'VAT Type' %}</label>
                <div class="input-group">
                    {% render_field form.vat_type class='form-control' placeholder=form.vat_type.label %}
                    {{ form.vat_type.errors }}
                </div>
            </div>
        </div>
        <br/>
        <button class="btn btn-primary btn-block" type="submit">{% if item_id %}{% trans 'Modify' %}{% else %}{% trans 'Add' %}{% endif %}</button>
        <input type="hidden" name="mode" value="complete"/>
        {% if item_id %}
        <input type="hidden" name="item_id" value="{{ item_id }}"/>
        {% endif %}
    </fieldset>
    </form>
    {% if messages %}
        {% for message in messages %}
            <br/>
            {% if message.tags == 'success' %}
                <div class="alert alert-success" role="alert">
            {% elif message.tags == 'error' %}
                <div class="alert alert-danger" role="alert">
            {% endif %}
                    {{ message }}
                </div>
        {% endfor %}
    {% endif %}
    </div>
</div>

<script>
    $( document ).ready(function() {
      $( "#name" ).focus();
    });

    var config = {};
    config.placeholder = 'Description';
    config.width = 500;
    config.height = 150;
    CKEDITOR.replace('description', config);
    var config = {};
    config.placeholder = 'Notes';
    config.width = 500;
    config.height = 150;
    CKEDITOR.replace('notes', config);
</script>


{% include 'ABC/footer.html' %}