{% load static %}
{% load humanize %}
{% load i18n %}

{% include 'ABC/header.html' %}
{% include 'ABC/navbar.html' %}
{% include 'ABC/page_header.html' with title='New Task' %}

{% include 'ABC/arkabytes/forms.js.html' %}

<div class="panel panel-default">
    <div class="panel-heading">

    </div>
    <div class="panel-body">
    <form class="empty-form" action="{% url 'add_task' %}" method="post">{% csrf_token %}
    <fieldset>
        <legend>{% trans 'Task Information' %}</legend>
        <div class="row">
            <div class="col-lg-6">
                <label for="name">{% trans 'Name' %}</label>
                <div class="input-group">
                    <input type="text" name="name" id="name" class="form-control" placeholder="{% trans 'Name' %}" size="50" aria-describedby="basic-addon1">
                </div>
            </div>
            <div class="col-lg-6">
                <label for="state">{% trans 'State' %}</label>
                <div class="input-group">
                    <select class="form-control" name="state" id="state">
                        <option>{% trans 'To do' %}</option>
                        <option>{% trans 'Doing' %}</option>
                        <option>{% trans 'Done' %}</option>
                        <option>{% trans 'Discarded' %}</option>
                    </select>
                </div>
            </div>
        </div>

        <br/>
        <div class="row">
            <div class="col-lg-6">
                <label for="description">{% trans 'Description' %}</label>
                <div class="input-group">
                    <textarea id="description" name="description" class="form-control" placeholder="{% trans 'Description' %}" rows="5" cols="50" aria-describedby="basic-addon1"></textarea>
                </div>
            </div>
            <div class="col-lg-6">
                <label for="description">{% trans 'Notice' %}</label>
                <div class="input-group">
                    <textarea id="notice" name="notice" class="form-control" placeholder="{% trans 'Notice' %}" rows="5" cols="50" aria-describedby="basic-addon1"></textarea>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-lg-3">
                <label for="date">{% trans 'Date' %}</label>
                <div class="input-group">
                    <span class="input-group-addon">#</span>
                    <input type="date" name="date" id="date" style="width:150px" class="form-control" placeholder="{% trans 'Date' %}" aria-describedby="basic-addon2">
                </div>
            </div>
            <div class="col-lg-3">
                <label for="start_date">{% trans 'Start Date' %}</label>
                <div class="input-group">
                    <span class="input-group-addon">[ ]</span>
                    <input type="date" name="start_date" id="start_date" style="width:150px" class="form-control" placeholder="{% trans 'Start Date' %}" aria-describedby="basic-addon2">
                </div>
            </div>
            <div class="col-lg-3">
                <label for="finish_date">{% trans 'Finish Date' %}</label>
                <div class="input-group">
                    <span class="input-group-addon">[ ]</span>
                    <input type="date" name="finish_date" id="finish_date" style="width:150px" class="form-control" placeholder="{% trans 'Finish Date' %}" aria-describedby="basic-addon2">
                </div>
            </div>
            <div class="col-lg-3">
                <label for="notice_date">{% trans 'Notice Date' %}</label>
                <div class="input-group">
                    <span class="input-group-addon">[ ]</span>
                    <input type="date" name="notice_date" id="notice_date" style="width:150px" class="form-control" placeholder="{% trans 'Notice Date' %}" aria-describedby="basic-addon2">
                </div>
            </div>
        </div>
        <br/>
        <div class="row">

        </div>
        <br/>
        <div class="row">
            <div class="col-lg-3">
                <label for="customer">{% trans 'Customer' %}</label>
                <div class="input-group">
                    <input type="text" name="customer" id="customer" class="form-control" placeholder="{% trans 'Customer' %}" aria-describedby="basic-addon3">
                </div>
            </div>
            <div class="col-lg-3">
                <label for="provider">{% trans 'Provider' %}</label>
                <div class="input-group">
                    <input type="text" name="provider" id="provider" class="form-control" placeholder="{% trans 'Provider' %}" aria-describedby="basic-addon3">
                </div>
            </div>
            <div class="col-lg-3">
                <label for="order">{% trans 'Order' %}</label>
                <div class="input-group">
                    <input type="text" name="order" id="order" class="form-control" placeholder="{% trans 'Order' %}" aria-describedby="basic-addon3">
                </div>
            </div>
            <div class="col-lg-3">
                <label for="location">{% trans 'Location' %}</label>
                <div class="input-group">
                    <input type="text" name="location" id="location" class="form-control" placeholder="{% trans 'Location' %}" aria-describedby="basic-addon3">
                </div>
            </div>
        </div>
        <br/>
        <button class="btn btn-primary btn-block" type="submit">{% trans 'Add' %}</button>
        <input type="hidden" name="mode" value="complete"/>
    </fieldset>
    </form>
    </div>
</div>

<script>
    var config = {};
    config.placeholder = 'Description';
    config.width = 500;
    config.height = 150;
    CKEDITOR.replace('description', config);
    var config = {};
    config.placeholder = 'Notice';
    config.width = 500;
    config.height = 150;
    CKEDITOR.replace('notice', config);
</script>


{% include 'ABC/footer.html' %}