{% load static %}
{% load humanize %}
{% load i18n %}

{% include 'ABC/header.html' %}
{% include 'ABC/navbar.html' %}
{% include 'ABC/page_header.html' with title='New Event' %}

<div class="panel panel-default">
    <div class="panel-heading">

    </div>
    <div class="panel-body">
    <form class="empty-form" action="{% url 'add_event' %}" method="post">{% csrf_token %}
    <fieldset>
        <legend>{% trans 'Event Information' %}</legend>
        <label for="name">{% trans 'Name' %}</label>
        <div class="input-group">
            <input type="text" name="name" id="name" class="form-control" placeholder="{% trans 'Name' %}" size="50" aria-describedby="basic-addon1">
        </div>
        <br/>
        <div class="row">
            <div class="col-lg-6">
                <label for="description">{% trans 'Description' %}</label>
                <div class="input-group">
                    <textarea id="description" name="description" class="form-control" placeholder="{% trans 'Description' %}" rows="5" cols="50" aria-describedby="basic-addon1"></textarea>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-lg-3">
            <label for="stock">{% trans 'Date' %}</label>
                <div class="input-group">
                    <input type="date" name="date" id="date" size="30" class="form-control" placeholder="{% trans 'Date' %}" aria-describedby="basic-addon2">
                </div>
            </div>
            <div class="col-lg-3">
            <label for="cost_price">{% trans 'Notice Date' %}</label>
                <div class="input-group">
                    <input type="date" name="notice_date" id="notice_date" size="30" class="form-control" placeholder="{% trans 'Notice Date' %}" aria-describedby="basic-addon2">
                </div>
            </div>
            <div class="col-lg-3">
            <label for="retail_price">{% trans 'Location' %}</label>
                <div class="input-group">
                    <input type="text" name="location" id="location" size="30" class="form-control" placeholder="{% trans 'Location' %}" aria-describedby="basic-addon2">
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-lg-3">
                <label for="customer">{% trans 'Customer' %}</label>
                <div class="input-group">
                    <input type="text" name="customer" id="customer" class="form-control" placeholder="{% trans 'Customer' %}" aria-describedby="basic-addon3">
                </div>
            </div>
            <div class="col-lg-3">
                <label for="provider">{% trans 'Provider' %}</label>
                <div class="input-group">
                    <input type="text" name="provider" id="provider" class="form-control" placeholder="{% trans 'Provider' %}" aria-describedby="basic-addon3">
                </div>
            </div>
        </div>
        <br/>
        <button class="btn btn-primary btn-block" type="submit">{% trans 'Add' %}</button>
        <input type="hidden" name="mode" value="complete"/>
    </fieldset>
    </form>
    </div>
</div>

<script>
    var config = {};
    config.placeholder = 'Description';
    config.width = 500;
    config.height = 150;
    CKEDITOR.replace('description', config);
</script>


{% include 'ABC/footer.html' %}