{% load static %}
{% load humanize %}
{% load i18n %}
{% load widget_tweaks %}

{% include 'ABC/header.html' %}
{% include 'ABC/navbar.html' %}
{% include 'ABC/page_header.html' with title='New Order' %}

<script type="text/javascript">
    // Delete an item from the order cart
    function remove_item(element) {

        if (!confirm("Are you sure?")) {
            return;
        }

        // delete the tr node from the tbody of the order cart
        var tr_node = element.parentNode.parentNode;
        var tbody_node = tr_node.parentNode;
        tbody_node.removeChild(tr_node);

        // Recalcultate cart price
        // TODO Add shipping cost
        var total_retail_price = tr_node.childNodes.item(3).textContent;
        var subtotal = parseInt($('#subtotal').text()) - total_retail_price;
        $('#subtotal').text(subtotal + " €");
        $('#total').text(subtotal + " €");

        $.ajax({
            type: 'post',
            url: '',
            beforeSend: function() {

            },
            success: function(responseText) {

            }
        });
    }

    function change_quantity(element) {

        var quantity = element.value;
        var tr_node = element.parentNode.parentNode;
        var retail_price = tr_node.childNodes.item(2).textContent;

        var previous_total_retail_price = tr_node.childNodes.item(3).textContent;
        var new_total_retail_price = quantity * retail_price;
        tr_node.childNodes.item(3).textContent = new_total_retail_price;

        var subtotal = parseInt($('#subtotal').text()) + (new_total_retail_price - previous_total_retail_price);
        $('#subtotal').text(subtotal + " €");
        $('#total').text(subtotal + " €");

    }

    // Disable the form submission in the case the user press the enter key
    jQuery(document).ready(function() {
        $('#add_order').keydown(function(event) {
            if (event.keyCode === 13) {
                event.preventDefault();
                return false;
            }
        });

        // autocomplete the item input adding a new item to the order cart with some extra information
        $('#add_item').autocomplete({
            source: "{% url 'autocomplete_item' %}",
            minLength: 2,
            select: function(event, ui) {

                var code = "<tr id=\"<item_id>\"><td class=\"col-sm-8 col-md-6\"><div class=\"media\"><a class=\"thumbnail pull-left\" href=\"#\">" +
                "<img class=\"media-object\" src=\"http://icons.iconarchive.com/icons/custom-icon-design/flatastic-2/72/product-icon.png\" style=\"width: 72px; height: 72px;\"> </a>" +
                "<div class=\"media-body\">" +
                "<h4 class=\"media-heading\" style=\"margin-left:5px\"><a href=\"#\"><item_name></a></h4>" +
                "<h5 class=\"media-heading\" style=\"margin-left:5px\"> by <a href=\"#\"><provider_name></a></h5>" +
                "<span style=\"margin-left:5px\">Status: </span><span class=\"text-success\"><strong><availability></strong></span></div></div></td>" +
                "<td class=\"col-sm-1 col-md-1\" style=\"text-align: center\">" +
                "<input type=\"number\" class=\"form-control\" id=\"quantity\" value=\"1\" onchange=\"javascript:change_quantity(this)\"></td>" +
                "<td class=\"col-sm-1 col-md-1 text-center\"><strong id=\"retail_price\"><retail_price></strong></td>" +
                "<td class=\"col-sm-1 col-md-1 text-center\" style=\"font-weight:bold\"><strong><total></strong></td>" +
                "<td class=\"col-sm-1 col-md-1\">" +
                "<button type=\"button\" onclick=\"javascript:remove_item(this);\" value=\"<retail_price>\" class=\"btn btn-danger\">" +
                "<span class=\"glyphicon glyphicon-remove\"></span> Remove" +
                "</button></td></tr>";

                code = code.replace("<item_name>", ui.item.name);
                code = code.replace("<item_id>", ui.item.id);
                code = code.replace("<availability>", ui.item.availability);
                code = code.replace("<retail_price>", ui.item.retail_price);
                code = code.replace("<retail_price>", ui.item.retail_price);
                code = code.replace("<total>", ui.item.retail_price);
                code = code.replace("<provider_name>", ui.item.provider_name);

                // Recalcultate cart price
                // TODO add shipping cost
                var subtotal = parseInt($('#subtotal').text()) + ui.item.retail_price;
                $('#subtotal').text(subtotal + " €");
                $('#total').text(subtotal + " €");

                event.preventDefault();
                $('#details_body').prepend(code);
                $('#add_item').val('');
                return false;
            }
        })
        .autocomplete("instance")._renderItem = function( ul, item ) {
            return $("<li>")
                .append("<div><strong>" + item.label + "</strong><br>" + item.description + "</div>")
                .appendTo(ul);
        };

        // autocomplete the customer input
        $('#customer').autocomplete({
            source: "{% url 'autocomplete_customer' %}",
            minLength: 2,

        }).autocomplete("instance")._renderItem = function( ul, item ) {
            return $("<li>")
                .append("<div><strong>" + item.label + "</strong><br>" + item.company_name + "</div>")
                .appendTo(ul);
        };
    });
</script>

<div class="panel panel-default">
    <div class="panel-heading">

    </div>
<div class="panel-body">
<form id="add_order" class="empty-form" action="{% url 'add_order' %}" method="post">{% csrf_token %}
    <fieldset>
        <legend>{% trans 'Order Information' %}</legend>
        <div class="row">
            <div class="col-lg-3">
                <label for="number">{% trans 'Number' %}</label>
                <div class="input-group">
                    {% render_field form.number class='form-control' size='10' placeholder=form.number.label %}
                    {{ form.number.errors }}
                </div>
            </div>
            <div class="col-lg-3">
                <label for="date">{% trans 'Date' %}</label>
                <div class="input-group">
                    <input type="date" name="date" id="date" class="form-control" placeholder="{% trans 'Date' %}" size="10" value="{{ form.date.value }}">
                    {{ form.date.errors }}
                </div>
            </div>
            <div class="col-lg-3">
                <label for="delivery_date">{% trans 'Delivery Date' %}</label>
                <div class="input-group">
                    <input type="date" name="delivery_date" id="deliver_date" class="form-control" placeholder="{% trans 'Delivery Date' %}" size="10" value="{{ form.delivery_date.value }}">
                    {{ form.delivery_date.errors }}
                </div>
            </div>
            <div class="col-lg-3">
                <label for="state">{% trans 'Delivery Date' %}</label>
                <div class="input-group">
                    <select class="form-control" name="state" id="state">
                        <option>Unfinished</option>
                        <option>Pending</option>
                        <option>Ready</option>
                        <option>Sent</option>
                        <option>Received</option>
                    </select>
                    {{ form.state.errors }}
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-lg-3">
                <label for="Customer">{% trans 'Customer' %}</label>
                <div class="input-group">
                    {% render_field form.customer class='form-control' placeholder=form.customer.label %}
                    {{ form.customer.errors }}
                </div>
            </div>
            <div class="col-lg-3">
                <label for="delivery_type">{% trans 'Delivery Type' %}</label>
                <div class="input-group">
                    {% render_field form.delivery_type class='form-control' placeholder=form.delivery_type.label %}
                    {{ form.delivery_type.errors }}
                </div>
            </div>
            <div class="col-lg-3">
                <label for="payment_type">{% trans 'Payment Type' %}</label>
                <div class="input-group">
                    {% render_field form.payment_type class='form-control' placeholder=form.payment_type.label %}
                    {{ form.payment_type.errors }}
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-lg-6">
                <label for="notes">{% trans 'Notes' %}</label>
                <div class="input-group">
                    <textarea id="notes" name="notes" class="form-control" placeholder="{% trans 'Notes' %}" rows="5" cols="50" aria-describedby="basic-addon1">
                        {{ form.notes.value }}
                    </textarea>
                    {{ form.notes.errors }}
                </div>
            </div>
        </div>
        <br/>
    </fieldset>
    <fieldset>
        <legend>{% trans 'Details Information' %}</legend>
        <div class="container">
            <input type="text" name="add_item" id="add_item" class="form-control" placeholder="{% trans 'Add Item' %}" size="30" aria-describedby="basic-addon1">
        </div>
        <br/>
        <div class="col-sm-12 col-md-10 col-md-offset-1">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>{% trans 'Product' %}</th>
                        <th>{% trans 'Quantity' %}</th>
                        <th class="text-center">{% trans 'Price' %}</th>
                        <th class="text-center">{% trans 'Total' %}</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody id="details_body">
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td><h5>{% trans 'Subtotal' %}</h5></td>
                        <td class="text-right"><h5><strong id="subtotal">0,00 €</strong></h5></td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td><h5>{% trans 'Estimated shipping' %}</h5></td>
                        <td class="text-right"><h5><strong id="estimated_shipping">0,00 €</strong></h5></td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td><h3>{% trans 'Total' %}</h3></td>
                        <td class="text-right"><h3><strong id="total">0,00 €</strong></h3></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br/>
        <button class="btn btn-primary btn-block" type="submit">{% trans 'Add' %}</button>
        <input type="hidden" name="mode" value="complete"/>
    </fieldset>
    </form>
    {% if messages %}
        {% for message in messages %}
            <br/>
            {% if message.tags == 'success' %}
                <div class="alert alert-success" role="alert">
            {% elif message.tags == 'error' %}
                <div class="alert alert-danger" role="alert">
            {% endif %}
                    {{ message }}
                </div>
        {% endfor %}
    {% endif %}
    </div>
</div>

<script>
    var config = {};
    config.placeholder = 'Notes';
    config.width = 500;
    config.height = 150;
    CKEDITOR.replace('notes', config);
</script>


{% include 'ABC/footer.html' %}