{% load static %}
{% load humanize %}
{% load i18n %}
{% load widget_tweaks %}

{% include 'ABC/header.html' %}
{% include 'ABC/navbar.html' %}
{% include 'ABC/page_header.html' with title='New Payment Type' %}

<div class="panel panel-default">
    <div class="panel-heading">

    </div>
    <div class="panel-body">
<form class="empty-form" action="{% url 'add_payment_type' %}" method="post">{% csrf_token %}
    <fieldset>
        <legend>{% trans 'Payment Type Information' %}</legend>
        <label for="name">{% trans 'Name' %}</label>
        <div class="input-group">
            {% render_field form.name class='form-control' placeholder=form.name.label size='50' %}
            {% if form.name.errors %}
                <div class="alert alert-danger">
                {{ form.name.errors }}
                </div>
            {% endif %}
        </div>
        <br/>
        <div class="row">
            <div class="col-lg-6">
                <label for="description">{% trans 'Description' %}</label>
                <div class="input-group">
                    <textarea id="description" name="description" class="form-control" placeholder="{% trans 'Description' %}" rows="5" cols="50" aria-describedby="basic-addon1">
                        {{ form.description.value }}
                    </textarea>
                    {% if form.description.errors %}
                    <div class="alert alert-danger">
                        {{ form.description.errors }}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <br/>
        <label for="name">{% trans 'Cost' %}</label>
        <div class="input-group">
            <span class="input-group-addon">€</span>
            {% render_field form.cost class='form-control' style='width:120px' placeholder=form.cost.label %}
        </div>
        {% if form.cost.errors %}
        <div class="alert alert-danger">
            {{ form.cost.errors }}
        </div>
        {% endif %}
        <br/>
        <button class="btn btn-primary btn-block" type="submit">{% trans 'Add' %}</button>
        <input type="hidden" name="mode" value="complete"/>
    </fieldset>
    </form>
    {% if messages %}
        {% for message in messages %}
            <br/>
            {% if message.tags == 'success' %}
                <div class="alert alert-success" role="alert">
            {% elif message.tags == 'error' %}
                <div class="alert alert-danger" role="alert">
            {% endif %}
                    {{ message }}
                </div>
        {% endfor %}
    {% endif %}
    </div>
</div>

<script>
    var config = {};
    config.placeholder = 'Description';
    config.width = 500;
    config.height = 150;
    CKEDITOR.replace('description', config);
</script>


{% include 'ABC/footer.html' %}