{% load static %}
{% load humanize %}
{% load i18n %}

{% include 'ABC/header.html' %}
{% include 'ABC/navbar.html' %}
{% include 'ABC/page_header.html' with title='New VAT Type' %}

<div class="panel panel-default">
    <div class="panel-heading">

    </div>
    <div class="panel-body">
<form class="empty-form" action="{% url 'add_vat_type' %}" method="post">{% csrf_token %}
    <fieldset>
        <legend>{% trans 'VAT Type Information' %}</legend>
        <label for="name">{% trans 'Name' %}</label>
        <div class="input-group">
            <input type="text" name="name" id="name" class="form-control" placeholder="Name" size="50" aria-describedby="basic-addon1">
        </div>
        <br/>
        <label for="rate">{% trans 'Rate' %}</label>
        <div class="input-group">
            <span class="input-group-addon">%</span>
            <input type="number" name="rate" id="rate" style="width:120px" class="form-control" placeholder="Rate" size="6" aria-describedby="basic-addon1">
        </div>
        <br/>
        <button class="btn btn-primary btn-block" type="submit">{% trans 'Add' %}</button>
        <input type="hidden" name="mode" value="complete"/>
    </fieldset>
    </form>
    </div>
</div>

{% include 'ABC/footer.html' %}