{% load static %}
{% load humanize %}
{% load i18n %}

{% include 'ABC/header.html' %}
{% include 'ABC/navbar.html' %}
{% include 'ABC/page_header.html' with title='New Customer' %}

<div class="panel panel-default">
    <div class="panel-heading">

    </div>
    <div class="panel-body">
<form class="empty-form" action="{% url 'add_customer' %}" method="post" enctype="multipart/form-data">{% csrf_token %}
    <fieldset>
        <legend>{% trans 'Customer Information' %}</legend>
        <div class="row">
            <div class="col-lg-3">
                <label for="cif">{% trans 'CIF' %}</label>
                <div class="input-group">
                    <input type="text" id="cif" name="cif" class="form-control" placeholder="{% trans 'CIF' %}" size="40" aria-describedby="basic-addon1" required autofocus/>
                </div>
            </div>
            <div class="col-lg-3">
                <label for="company_name">{% trans 'Company Name' %}</label>
                <div class="input-group">
                    <input type="text" id="company_name" name="company_name" class="form-control" placeholder="{% trans 'Company Name' %}" size="40" aria-describedby="basic-addon1"/>
                </div>
            </div>
            <div class="col-lg-3">
                <label for="name">{% trans 'Name' %}</label>
                <div class="input-group">
                    <input type="text" id="name" name="name" class="form-control" placeholder="{% trans 'Name' %}" size="40" aria-describedby="basic-addon1"/>
                </div>
            </div>
            <div class="col-lg-3">
                <label for="surname">{% trans 'Surname' %}</label>
                <div class="input-group">
                    <input type="text" id="surname" name="surname" class="form-control" placeholder="{% trans 'Surname' %}" size="40" aria-describedby="basic-addon1"/>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-lg-3">
                <label for="address">{% trans 'Address' %}</label>
                <div class="input-group">
                    <input type="text" id="address" name="address" class="form-control" placeholder="{% trans 'Address' %}" size="40" aria-describedby="basic-addon1"/>
                </div>
            </div>
            <div class="col-lg-3">
                <label for="city">{% trans 'City' %}</label>
                <div class="input-group">
                    <input type="text" id="city" name="city" class="form-control" placeholder="{% trans 'City' %}" size="30" aria-describedby="basic-addon1"/>
                </div>
            </div>
            <div class="col-lg-2">
                <label for="province">{% trans 'Province' %}</label>
                <div class="input-group">
                    <input type="text" id="province" name="province" class="form-control" placeholder="{% trans 'Province' %}" size="20" aria-describedby="basic-addon1"/>
                </div>
            </div>
            <div class="col-lg-2">
                <label for="postal_code">{% trans 'Postal Code' %}</label>
                <div class="input-group">
                    <input type="text" id="postal_code" name="postal_code" class="form-control" placeholder="{% trans 'Postal Code' %}" size="10" aria-describedby="basic-addon1"/>
                </div>
            </div>
            <div class="col-lg-2">
                <label for="country">{% trans 'Country' %}</label>
                <div class="input-group">
                    <input type="text" id="country" name="country" class="form-control" placeholder="{% trans 'Country' %}" size="20" aria-describedby="basic-addon1"/>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-lg-3">
                <label for="phone">{% trans 'Phone' %}</label>
                <div class="input-group">
                    <input type="text" name="phone" id="phone" class="form-control" placeholder="{% trans 'Phone' %}" size="15" aria-describedby="basic-addon3">
                </div>
            </div>
            <div class="col-lg-3">
                <label for="fax">{% trans 'Fax' %}</label>
                <div class="input-group">
                    <input type="text" name="fax" id="fax" class="form-control" placeholder="{% trans 'Fax' %}" size="15" aria-describedby="basic-addon3">
                </div>
            </div>
            <div class="col-lg-3">
                <label for="email">{% trans 'E-mail' %}</label>
                <div class="input-group">
                    <input type="text" name="email" id="email" class="form-control" placeholder="{% trans 'E-mail' %}" size="40" aria-describedby="basic-addon3">
                </div>
            </div>
            <div class="col-lg-3">
                <label for="website">{% trans 'Website' %}</label>
                <div class="input-group">
                    <input type="url" name="website" id="website" class="form-control" placeholder="{% trans 'Website' %}" size="40" aria-describedby="basic-addon3">
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-lg-12">
                <label for="notes">{% trans 'Notes' %}</label>
                <div class="input-group">
                    <textarea id="notes" name="notes" class="form-control" placeholder="{% trans 'Notes' %}" rows="5" cols="50" aria-describedby="basic-addon1"></textarea>
                </div>
            </div>
        </div>
        <br/>
        <button class="btn btn-primary btn-block" type="submit">{% trans 'Add' %}</button>
        <input type="hidden" name="mode" value="complete"/>
    </fieldset>
    </form>
    </div>
</div>

<script>
    var config = {};
    config.placeholder = 'Notes';
    config.width = 500;
    config.height = 150;
    CKEDITOR.replace('notes', config);
</script>


{% include 'ABC/footer.html' %}