{% load static %}
{% load humanize %}
{% load i18n %}
{% load widget_tweaks %}

{% include 'ABC/header.html' %}
{% include 'ABC/navbar.html' %}
{% include 'ABC/page_header.html' with title='New VAT Type' %}

<div class="panel panel-default">
    <div class="panel-heading">

    </div>
    <div class="panel-body">
    <form class="empty-form" action="{% url 'add_vat_type' %}" method="post">{% csrf_token %}
    <fieldset>
        <legend>{% trans 'VAT Type Information' %}</legend>
        <label for="name">{% trans 'Name' %}</label>
        <div class="input-group">
            {% render_field form.name class='form-control' placeholder=form.name.label size='50' %}
            {% if form.name.errors %}
            <div class="alert alert-danger">
                {{ form.name.errors }}
            </div>
            {% endif %}
        </div>
        <br/>
        <label for="rate">{% trans 'Rate' %}</label>
        <div class="input-group">
            <span class="input-group-addon">%</span>
            {% render_field form.rate class='form-control' style='width:120px' placeholder=form.name.label size='6' %}
        </div>
        {% if form.rate.errors %}
        <div class="alert alert-danger">
            {{ form.rate.errors }}
        </div>
        {% endif %}
        <br/>
        <button class="btn btn-primary btn-block" type="submit">{% trans 'Add' %}</button>
        <input type="hidden" name="mode" value="complete"/>
    </fieldset>
    </form>
    {% if messages %}
        {% for message in messages %}
            <br/>
            {% if message.tags == 'success' %}
                <div class="alert alert-success" role="alert">
            {% elif message.tags == 'error' %}
                <div class="alert alert-danger" role="alert">
            {% endif %}
                    {{ message }}
                </div>
        {% endfor %}
    {% endif %}
    </div>
</div>

{% include 'ABC/footer.html' %}