{% load static %}
{% load i18n %}

<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li class="sidebar-search">
                <div class="input-group custom-search-form">
                    <input type="text" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                    <button class="btn btn-default" type="button">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
                </div>
            </li>
            <li>
                <a href="{% url 'index' %}"><img src="{% static 'ABC/icons/inicio32.png' %}"/> {% trans 'Dashboard' %}</a>
            </li>
            <li>
                <a href="{% url 'customers' %}"><img src="{% static 'ABC/icons/usuario32.png' %}"/> {% trans 'Customers' %}</a>
            </li>
            <li>
                <a href="{% url 'providers' %}"><img src="{% static 'ABC/icons/proveedor32.png' %}"/> {% trans 'Providers' %}</a>
            </li>
            <li>
                <a href="{% url 'items' %}"><img src="{% static 'ABC/icons/cesta32.png' %}"/> {% trans 'Items' %}</a>
            </li>
            <li>
                <a href="{% url 'orders' %}"><img src="{% static 'ABC/icons/pedidos32.png' %}"/> {% trans 'Orders' %}</a>
            </li>
            <li>
                <a href="{% url 'invoices' %}"><img src="{% static 'ABC/icons/factura32.png' %}"/> {% trans 'Invoices' %}</a>
            </li>
            <li>
                <a href="{% url 'tasks' %}"><img src="{% static 'ABC/icons/agenda32.png' %}"/> {% trans 'Tasks' %}</a>
            </li>
            <li>
                <a href="{% url 'events' %}"><img src="{% static 'ABC/icons/eventos32.png' %}"/> {% trans 'Events' %}</a>
            </li>
            <li>
                <a href="{% url 'master_tables' %}"><img src="{% static 'ABC/icons/carpeta32.png' %}"/> {% trans 'Master Tables' %}</a>
            </li>
        </ul>
    </div>
</div>
