{% load static %}
{% load i18n %}

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="{% static 'ABC/img/logo.ico' %}">

        <title>ABC-ERP</title>

        <link href="{% static 'ABC/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'ABC/css/signin.css' %}" rel="stylesheet">
    </head>
    <body>
        <div class="container" style="text-align:center">
            <img src="{% static 'ABC/img/logo_abc_trans.png' %}"/>
        </div>
        <div class="container">
            <form class="form-signin" action="{% url 'login_view' %}" method="post">
            {% csrf_token %}
                <h2 class="form-signin-heading">{% trans 'Please sign in' %}</h2>
                <label for="username" class="sr-only">{% trans 'Username' %}</label>
                <input type="text" id="username" name="username" class="form-control" placeholder="{% trans 'Username' %}" required autofocus>
                <label for="password" class="sr-only">{% trans 'Password' %}</label>
                <input type="password" id="password" name="password" class="form-control" placeholder="{% trans 'Password' %}" required>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="remember-me"> {% trans 'Remember me' %}
                    </label>
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">{% trans 'Sign in' %}</button>
            </form>
        {% if message %}
        <div class="alert alert-danger" role="alert">
        {{ message }}
        </div>
        {% endif %}
        <div style="margin:0 auto;max-width:200px;">
            <a href="http://www.arkabytes.com"><img width="200px" src="http://arkabytes.com/img/logoarkabytes.png"/></a></div>
        </div>

    </body>
</html>
