{% load static %}
{% include 'ABC/short_header.html' %}

<div class="container">

    <form class="form-signin">
        <h2 class="form-signin-heading">Inicia sesión</h2>
        <label for="inputEmail" class="sr-only">Correo Electrónico</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Correo electrónico" required autofocus>
        <label for="inputPassword" class="sr-only">Contraseña</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Contraseña" required>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Recordarme
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
    </form>
</div> <!-- /container -->

{% include 'ABC/footer.html' %}
