{% load static %}
{% load i18n %}

{% include 'ABC/header.html' %}
{% include 'ABC/navbar.html' %}
{% include 'ABC/page_header.html' with title='Tasks' icon='ABC/icons/anadirtarea32.png' new_link='new_task' tooltip='Add Task'  %}


<div class="panel panel-default">
    <div class="panel-heading">
        Items
    </div>
    <div class="panel-body">
    <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-abc">
        <thead>
            <tr>
                <th>#</th>
                <th>{% trans 'Name' %}</th>
                <th>{% trans 'Description' %}</th>
                <th>{% trans 'Date' %}</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% if tasks %}
        {% for task in tasks %}
            <tr>
                <td>{{ task.id }}</td>
                <td>{{ task.name }}</td>
                <td>{{ task.description | safe | truncatewords:10 }}</td>
                <td>{{ task.date|date:'d/m/Y'}}</td>
                <td class="text-center"><a class="btn btn-sm btn-info" href="{% url 'new_task' task.id %}?view=1">{% trans 'View' %}</a></td>
                <td class="text-center"><a class="btn btn-sm btn-warning" href="{% url 'new_task' task.id %}">{% trans 'Modify' %}</a></td>
                <td class="text-center"><a class="btn btn-sm btn-danger" onclick="return confirm('{% trans 'Are you sure?' %}');"
                       href="{% url 'delete_task' task.id %}">{% trans 'Delete' %}</a></td>
            </tr>
        {% endfor %}
    {% endif %}
        </tbody>
    </table>
    </div>
</div>

<div class="container" style="margin-left:0px;width:25%">
    <form class="form-anadir" action="{% url 'add_task' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset>
            <legend></legend>
            <label for="inputName" class="sr-only">{% trans 'Name' %}</label>
            <input type="text" name="name" id="inputName" class="form-control" placeholder="{% trans 'Name' %}" required autofocus/>
            <label for="inputNumber" class="sr-only">{% trans 'Description' %}</label>
            <input type="text" name="description" id="description"  class="form-control" placeholder="{% trans 'Description' %}">
            <label for="inputNumber" class="sr-only">{% trans 'Date' %}</label>
            <input type="date" name="date" id="date" class="form-control" placeholder="{% trans 'Date' %}" required>
            <input type="hidden" name="state" value="To Do"/>
            <input type="hidden" name="mode" value="quick"/>
            <button class="btn btn-primary btn-block" type="submit">{% trans 'Quick add' %}</button>
        </fieldset>
    </form>
    {% if messages %}
        {% for message in messages %}
            <br/>
            {% if message.tags == 'success' %}
                <div class="alert alert-success" role="alert">
            {% elif message.tags == 'error' %}
                <div class="alert alert-danger" role="alert">
            {% endif %}
                    {{ message }}
                </div>
        {% endfor %}
    {% endif %}
</div>


{% include 'ABC/footer.html' %}